In [512]:
#Import the required libraries
import pandas as pd
import psycopg2

In [513]:
#Import the csv file
df = pd.read_csv('Top_12_German_Companies NEW.csv')
df.head()

,ComPANY,Period,REVENUE,Net Income,LIABILITIES,Assets,Equity,ROA (%),ROE (%),Debt to Equity,PERCENTAGE DEBT TO EQUITY
0,Volkswagen AG,12/31/2017,9750496618,5.168898e+08,21354201295,54861302788,33507101493,942.175.618,1.542.627.668,637.303.746,"0,00%"
1,Siemens AG,12/31/2017,19716237464,1.276840e+09,45009303223,75268101508,30258798286,1.696.389.282,4.219.731.382,1.487.478.214,"283,68%"
2,Allianz SE,12/31/2017,19458831198,1.600107e+09,48538978480,69583711255,21044732775,2.299.542.624,7.603.361.452,2.306.466.848,"329,65%"
3,BMW AG,12/31/2017,18808147150,9.601843e+08,35382107627,67327482638,31945375011,142.614.028,3.005.706.927,1.107.581.539,"0,00%"
4,BASF SE,12/31/2017,16895580815,1.797082e+09,28309420014,68036567115,39727147101,2.641.347.127,4.523.561.449,71.259.635,"634,80%"

In [514]:
#Transform the DataFrame Columns to become uniform
df.columns = df.columns.str.lower()
df.columns = df.columns.str.replace(' ', '_')
df.head(2)

,company,period,revenue,net_income,liabilities,assets,equity,roa_(%),roe_(%),debt_to_equity,percentage_debt_to_equity
0,Volkswagen AG,12/31/2017,9750496618,5.168898e+08,21354201295,54861302788,33507101493,942.175.618,1.542.627.668,637.303.746,"0,00%"
1,Siemens AG,12/31/2017,19716237464,1.276840e+09,45009303223,75268101508,30258798286,1.696.389.282,4.219.731.382,1.487.478.214,"283,68%"

In [515]:
#Check the information about each column to get data type, null values etc
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 396 entries, 0 to 395
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   company                    396 non-null    object
 1   period                     396 non-null    object
 2   revenue                    396 non-null    int64
 3   net_income                 396 non-null    float64
 4   liabilities                396 non-null    int64
 5   assets                     396 non-null    int64
 6   equity                     396 non-null    int64
 7   roa_(%)                    396 non-null    object
 8   roe_(%)                    396 non-null    object
 9   debt_to_equity             396 non-null    object
 10  percentage_debt_to_equity  396 non-null    object
dtypes: float64(1), int64(4), object(6)
memory usage: 34.2+ KB

In [516]:
#Transform period object type to a date type
df['period'] = pd.to_datetime(df['period'])

In [517]:
df['period'].dtype

dtype('<M8[ns]')

In [518]:
#Transform 'roa', 'roe', 'debt_to_equity' and 'percentage_debt_to_equity' to float data type and clean the values
columns_object = ['roa_(%)', 'roe_(%)', 'debt_to_equity', 'percentage_debt_to_equity']
for col in columns_object_to_float:
    df[col] = df[col].astype(str)
    df[col] = df[col].str.replace('.', '')
    df[col] = df[col].str.replace(',', '.')
    df[col] = df[col].str.replace('%', '')

    df[col] = df[col].astype(float)

In [519]:
df

,company,period,revenue,net_income,liabilities,assets,equity,roa_(%),roe_(%),debt_to_equity,percentage_debt_to_equity
0,Volkswagen AG,2017-12-31,9750496618,5.168898e+08,21354201295,54861302788,33507101493,9.421756e+08,1.542628e+09,6.373037e+08,0.00
1,Siemens AG,2017-12-31,19716237464,1.276840e+09,45009303223,75268101508,30258798286,1.696389e+09,4.219731e+09,1.487478e+09,283.68
2,Allianz SE,2017-12-31,19458831198,1.600107e+09,48538978480,69583711255,21044732775,2.299543e+09,7.603361e+09,2.306467e+09,329.65
3,BMW AG,2017-12-31,18808147150,9.601843e+08,35382107627,67327482638,31945375011,1.426140e+08,3.005707e+09,1.107582e+09,0.00
4,BASF SE,2017-12-31,16895580815,1.797082e+09,28309420014,68036567115,39727147101,2.641347e+09,4.523561e+09,7.125964e+07,634.80
...,...,...,...,...,...,...,...,...,...,...,...
391,SAP SE,2024-09-30,10824151396,8.302800e+08,42369695133,72342104340,29972409208,1.147713e+08,2.770148e+09,1.413623e+09,0.00
392,Bayer AG,2024-09-30,9332023907,7.466675e+08,23673143006,42677324477,19004181470,1.749565e+09,3.928965e+09,1.245681e+09,0.00
393,Deutsche Bank AG,2024-09-30,18549946525,2.323022e+09,49199711543,64461554635,15261843092,3.603733e+09,1.522111e+09,3.223707e+09,472.16
394,Porsche AG,2024-09-30,15911174550,1.241694e+09,36125130235,84583217359,48458087124,1.468014e+09,2.562408e+09,7.454923e+08,343.72
395,Merck KGaA,2024-09-30,15036344926,1.704098e+09,30603212259,59444780752,28841568494,2.866690e+09,5.908478e+09,1.061080e+09,556.84

In [544]:
#Create new columns
df['day'] = df['period'].dt.day
df['month'] = df['period'].dt.month
df['year'] = df['period'].dt.year

In [548]:
#Convert df to csv
df.to_csv('companies_finance.csv', index=False)