In [666]:
#Import the required libraries
import pandas as pd
import psycopg2
from sqlalchemy import create_engine

In [667]:
#Import the csv file
df = pd.read_csv('Top_12_German_Companies NEW.csv')
df.head()

,ComPANY,Period,REVENUE,Net Income,LIABILITIES,Assets,Equity,ROA (%),ROE (%),Debt to Equity,PERCENTAGE DEBT TO EQUITY
0,Volkswagen AG,12/31/2017,9750496618,5.168898e+08,21354201295,54861302788,33507101493,942.175.618,1.542.627.668,637.303.746,"0,00%"
1,Siemens AG,12/31/2017,19716237464,1.276840e+09,45009303223,75268101508,30258798286,1.696.389.282,4.219.731.382,1.487.478.214,"283,68%"
2,Allianz SE,12/31/2017,19458831198,1.600107e+09,48538978480,69583711255,21044732775,2.299.542.624,7.603.361.452,2.306.466.848,"329,65%"
3,BMW AG,12/31/2017,18808147150,9.601843e+08,35382107627,67327482638,31945375011,142.614.028,3.005.706.927,1.107.581.539,"0,00%"
4,BASF SE,12/31/2017,16895580815,1.797082e+09,28309420014,68036567115,39727147101,2.641.347.127,4.523.561.449,71.259.635,"634,80%"

In [668]:
#Transform the DataFrame Columns to become uniform
df.columns = df.columns.str.lower()
df.columns = df.columns.str.replace(' ', '_')
df.head(2)

,company,period,revenue,net_income,liabilities,assets,equity,roa_(%),roe_(%),debt_to_equity,percentage_debt_to_equity
0,Volkswagen AG,12/31/2017,9750496618,5.168898e+08,21354201295,54861302788,33507101493,942.175.618,1.542.627.668,637.303.746,"0,00%"
1,Siemens AG,12/31/2017,19716237464,1.276840e+09,45009303223,75268101508,30258798286,1.696.389.282,4.219.731.382,1.487.478.214,"283,68%"

In [669]:
#Check the information about each column to get data type, null values etc
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 396 entries, 0 to 395
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   company                    396 non-null    object
 1   period                     396 non-null    object
 2   revenue                    396 non-null    int64
 3   net_income                 396 non-null    float64
 4   liabilities                396 non-null    int64
 5   assets                     396 non-null    int64
 6   equity                     396 non-null    int64
 7   roa_(%)                    396 non-null    object
 8   roe_(%)                    396 non-null    object
 9   debt_to_equity             396 non-null    object
 10  percentage_debt_to_equity  396 non-null    object
dtypes: float64(1), int64(4), object(6)
memory usage: 34.2+ KB

In [670]:
#Transform period object type to a date type
df['period'] = pd.to_datetime(df['period'])

In [671]:
df['period'].dtype

dtype('<M8[ns]')

In [672]:
#Transform 'roa', 'roe', 'debt_to_equity' and 'percentage_debt_to_equity' to float data type and clean the values
columns_object = ['roa_(%)', 'roe_(%)', 'debt_to_equity', 'percentage_debt_to_equity']
for col in columns_object_to_float:
    df[col] = df[col].astype(str)
    df[col] = df[col].str.replace('.', '')
    df[col] = df[col].str.replace(',', '.')
    df[col] = df[col].str.replace('%', '')

    df[col] = df[col].astype(float)

In [673]:
df['day'] = df['period'].dt.day
df['month'] = df['period'].dt.month
df['year'] = df['period'].dt.year

In [674]:
df.drop(columns={'period'}, inplace=True)

In [703]:
engine = create_engine('postgresql+psycopg2://postgres:<password>@localhost:5432/Supply')

In [705]:
df.to_sql('companies_budget', engine, index=False, if_exists='replace')

396