In [226]:
#Task
#Clean the German companies dataset and load into a postgresql database for exploration/analysis

In [227]:
#import the required libraries
import pandas as pd
import psycopg2
from sqlalchemy import create_engine

In [228]:
#Extract the dataset (present in my local machine) into a DataFrame
df = pd.read_csv('C:/Users/KAY/Desktop/Financial Analysis/Top_12_German_Companies NEW.csv')
df.head(3)

,ComPANY,Period,REVENUE,Net Income,LIABILITIES,Assets,Equity,ROA (%),ROE (%),Debt to Equity,PERCENTAGE DEBT TO EQUITY
0,Volkswagen AG,12/31/2017,9750496618,5.168898e+08,21354201295,54861302788,33507101493,942.175.618,1.542.627.668,637.303.746,"0,00%"
1,Siemens AG,12/31/2017,19716237464,1.276840e+09,45009303223,75268101508,30258798286,1.696.389.282,4.219.731.382,1.487.478.214,"283,68%"
2,Allianz SE,12/31/2017,19458831198,1.600107e+09,48538978480,69583711255,21044732775,2.299.542.624,7.603.361.452,2.306.466.848,"329,65%"

In [229]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 396 entries, 0 to 395
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   ComPANY                    396 non-null    object
 1   Period                     396 non-null    object
 2   REVENUE                    396 non-null    int64
 3   Net Income                 396 non-null    float64
 4   LIABILITIES                396 non-null    int64
 5   Assets                     396 non-null    int64
 6   Equity                     396 non-null    int64
 7   ROA (%)                    396 non-null    object
 8   ROE (%)                    396 non-null    object
 9   Debt to Equity             396 non-null    object
 10  PERCENTAGE DEBT TO EQUITY  396 non-null    object
dtypes: float64(1), int64(4), object(6)
memory usage: 34.2+ KB

In [230]:
#change the column headers to capital letters
df.columns = df.columns.str.upper()
df.columns = df.columns.str.replace(' ', '_')

In [231]:
df.head(2)

,COMPANY,PERIOD,REVENUE,NET_INCOME,LIABILITIES,ASSETS,EQUITY,ROA_(%),ROE_(%),DEBT_TO_EQUITY,PERCENTAGE_DEBT_TO_EQUITY
0,Volkswagen AG,12/31/2017,9750496618,5.168898e+08,21354201295,54861302788,33507101493,942.175.618,1.542.627.668,637.303.746,"0,00%"
1,Siemens AG,12/31/2017,19716237464,1.276840e+09,45009303223,75268101508,30258798286,1.696.389.282,4.219.731.382,1.487.478.214,"283,68%"

In [232]:
#convert period object type to a date type
df['PERIOD'] = pd.to_datetime(df['PERIOD'])

In [233]:
df['PERIOD'].dtype

dtype('<M8[ns]')

In [234]:
#convert ROA, ROE, DEBT_TO_EQUITY, PERCENTAGE_DEBT_TO_EQUITY object type to float type
columns_to_process = ['ROA_(%)', 'ROE_(%)', 'DEBT_TO_EQUITY']
for col in columns_to_process:
    df[col] = df[col].astype(str)
    df[col] = df[col].str.replace('.', '')
    df[col] = df[col] = df[col].astype(float)

In [235]:
df['PERCENTAGE_DEBT_TO_EQUITY'] = df['PERCENTAGE_DEBT_TO_EQUITY'].astype(str)
df['PERCENTAGE_DEBT_TO_EQUITY'] = df['PERCENTAGE_DEBT_TO_EQUITY'].str.replace(',', '.')
df['PERCENTAGE_DEBT_TO_EQUITY'] = df['PERCENTAGE_DEBT_TO_EQUITY'].str.replace('%', '')
df['PERCENTAGE_DEBT_TO_EQUITY'] = df['PERCENTAGE_DEBT_TO_EQUITY'].astype(float)

In [236]:
df.head(2)

,COMPANY,PERIOD,REVENUE,NET_INCOME,LIABILITIES,ASSETS,EQUITY,ROA_(%),ROE_(%),DEBT_TO_EQUITY,PERCENTAGE_DEBT_TO_EQUITY
0,Volkswagen AG,2017-12-31,9750496618,5.168898e+08,21354201295,54861302788,33507101493,9.421756e+08,1.542628e+09,6.373037e+08,0.00
1,Siemens AG,2017-12-31,19716237464,1.276840e+09,45009303223,75268101508,30258798286,1.696389e+09,4.219731e+09,1.487478e+09,283.68

In [237]:
#load to a Postgresql database named Supply
engine = create_engine('postgresql+psycopg2://postgres:Dammy5678*#@localhost:5432/Supply')
df.to_sql('german_companies', engine, index=False, if_exists='replace')

396